
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    .hero-desktop{
        display: none;
    }

    *{
        box-sizing: border-box;
        font-family: "Josefin Sans", sans-serif;

    }
  
    html, body{
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body{
        color: hsl(0, 6%, 24%);
        font-family: "Josefin Sans", sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
    }


    h1{  
         font-size: 50px;
         font-weight: normal;
        letter-spacing: 20px;
    }

    .left-col{
        display: flex;
        flex-direction: column;
    }
  
    .logo{
        width: 158px;
        height: 33px;
        margin: 50px;
    }

    .main-container{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span,
    p{
        color: hsl(0, 36%, 70%);
        font-weight: normal;
    }
   
    form{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
 
    .wrapper{
        position: relative;
    }

    input{
        width: 100%;
        height: 60px;
        border-radius: 40px;
        color: hsl(0, 6%, 24%);
        border: 1px solid hsl(0, 36%, 70%);
    }

    input::placeholder{
        color: hsl(0, 36%, 70%);
        padding-left: 30px;
    }

    .red-border{
        border: 2px solid hsl(0, 93%, 68%);
    }

    .error-icon{
      position: absolute;
      right: 100px;
      bottom: 20px;
    }

    button{
        background-color: hsl(0, 36%, 70%);
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        box-shadow: 0px 8px 10px 3px rgba(206, 151, 151, 0.3);
        width: 80px;
        height: 60px;
        border: none;
        border-radius: 40px;
        position: absolute;
        right: 1px;
        cursor: pointer;
    }
 
    .hidden{
        display: none;
    }

    .show{
        display: block;
    }

    p#hidden-text{
        color: hsl(0, 93%, 68%);
        text-align: left;
        padding-left: 30px;
    }

    @media(min-width: 768px){
        html, body{
        height: 100vh;
       }

        body{
            flex-direction: row;
            text-align: left;
            background-image: url(images/bg-pattern-desktop.svg);
        }

        
        .left-col{
            flex: 1;
            justify-content: space-around;
            margin-left: 50px;
        }

        .logo{
            margin-bottom: 0;
        }

        .main-container{
            align-items: start;
            margin-bottom: 0;

        }
        
        button{
           width: 24%;
        }

        .hero-mobile{
            display: none;
        }

        .hero-desktop{
            background-image: url(images/hero-desktop.jpg);
            background-size: cover;
            background-position: center;
            display: block;
            width: 40%;
            flex-shrink: 0;
            flex-grow: 0;
            align-self: stretch;
        }

    }
